[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
robustnessgym = "*"
altair = "*"
sklearn = "*"
streamlit-vega-lite = "*"
plotly = "*"
gensim = "*"
nltk = "*"

[dev-packages]
black = "==19.3b0"
pylint = "*"
watchdog = "*"
jupyterlab = "*"
jupyter = "*"

[requires]
python_version = "3.8"

[scripts]
format = "black ."
format_check = "black --check ."
lint = "pylint app.py"
app= "streamlit run app.py"
clear_cache = "streamlit cache clear"
notebook = "jupyter notebook"
